name: deploy-portal-worker

on:
  workflow_dispatch: {}
  push:
    branches: [ "main" ]
    paths:
      - "worker/portal-edge/**"

permissions:
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Install
        working-directory: worker/portal-edge
        run: npm i

      - name: Deploy
        working-directory: worker/portal-edge
        env:
          CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
        run: npx wrangler deploy
